*

# datachat files
!datachat
!datachat_pg
!protobuf
!targetdb
!Cargo.lock
!Cargo.toml

# web files

!web/src
!web/index.html
!web/*.json
!web/vite.config.ts

# web codegen
web/src/features/api/proto/*
